name: HACS Validation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 0 * * *" # Runs daily

jobs:
  validate:
    name: HACS Validation
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: "actions/checkout@v4"
      - name: HACS Validation
        uses: "hacs/action@main"
        with:
          category: "integration"
